<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Votre avis sur {{commentaire.commentCollegue.pseudo}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <textarea [(ngModel)]="commentaire.comment" #champCommentaire="ngModel" required ng-minlength="10"></textarea>
    <div ng-message="commentaire.comment"> Les champs doit contenir au moins 10 caractéres</div>
    <small *ngIf champCommentaire.valid></small>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save()">enregistrer</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Rédiger un commentaire </button>
<hr>
<pre>{{closeResult}}</pre>