<ngb-carousel>
  <ng-template ngbSlide *ngFor="let collegue of collegues">
    <div class="carousel-inner">
      <img src="{{collegue.urlImage}}">
    </div>
    <div class="carousel-caption">
      <h3>{{collegue.pseudo| uppercase}}</h3>
      <p>{{collegue.score}}</p>
      <button class="btn btn-outline-primary" (click)="jaime(collegue)">j'aime</button>
      <button class="btn btn-outline-danger" (click)="jedeteste(collegue)">je deteste</button>
      <br>
      <br>
      <app-commentaire></app-commentaire>
    </div>
  </ng-template>
</ngb-carousel>