<div class="card">
  <div class="img-container">
    <img class="card-img-top" src="{{collegue.urlImage}}" alt="Card image cap">
  </div>
  <div class="card-body font-weight-bold text-center ">
    {{collegue.pseudo | uppercase }}
    <p class="card-text " id="score">{{collegue.score |score}} </p>
    <button [disabled]="!isOnline" id="jaime" class="btn btn-outline-primary" (click)="jaime()">j'aime</button>
    <button [disabled]="!isOnline" class="btn btn-outline-danger" (click)="jedeteste()">je deteste</button>
    <br>
    <br>
    <app-commentaire [collegue]="collegue"></app-commentaire>
  </div>
</div>