<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Top Collègues
  </h1>
  <p>Les meilleurs collègues de moment</p>
  <br>
  <app-site-en-ligne></app-site-en-ligne>

  <br>
  <form>

    <div class="form-group mx-auto">
      <label for="pseudo">Pseudo</label>
      <input type="text" #pseudo class="form-control" placeholder="Pseudo">
    </div>
    <div class="form-group">
      <label for="urlimage">Url Image</label>
      <input type="text" #imageUrl class="form-control" placeholder="UrlImage">
    </div>
    <button [disabled]="!isOnline" (click)="add(pseudo, imageUrl)" type="submit" class="btn btn-primary">Ajouter un nouveau collègues</button>
  </form>
  <div *ngIf="nom" class="alert alert-success">
    le Collègues {{nom}} a été ajouté avec succés
    <strong></strong>
  </div>
  <br>
  <br>
  <!-- ICI VOTRE FORMULAIRE -->
  <!--{{collegues | json}} -->
  <div class="row">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a routerLink="/classique" class="nav-link active">Classique</a>
      </li>
      <li class="nav-item">
        <a routerLink="/tableau" class="nav-link">Tableau</a>
      </li>
      <li class="nav-item">
        <a routerLink="/carousel" class="nav-link" href="#">Carrousel</a>
      </li>
    </ul>
  </div>
  <br>
  <br>
  <div>
    <app-votre-dernier-avis></app-votre-dernier-avis>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
    <div class="col">
      <app-historique></app-historique>
    </div>
  </div>