<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Top Collègues
  </h1>
  <p>Les meilleurs collègues de moment</p>

  <form>
    <div class="form-group mx-auto">
      <label for="pseudo">Pseudo</label>
      <input type="text" #pseudo class="form-control" placeholder="Pseudo">
    </div>
    <div class="form-group">
      <label for="urlimage">Url Image</label>
      <input type="text" #imageUrl class="form-control" placeholder="UrlImage">
    </div>

    <button (click)="add(pseudo, imageUrl)" type="submit" class="btn btn-primary">Ajouter un nouveau collègues</button>
  </form>

  <div *ngIf="nom" class="alert alert-success">

    le Collègues {{nom}} a été ajouté avec succés
    <strong></strong>
  </div>
  <!-- ICI VOTRE FORMULAIRE -->
  <!--{{collegues | json}} -->
  <p class="red-text text-center ">UnCollegueComponent</p>
  <div class="card-deck">
    <div *ngFor="let col of collegues">
      <app-un-collegue [collegue]="col"></app-un-collegue>
    </div>
  </div>
</div>